<h3><%= current_user.username.capitalize %></h3>
<h4>Here are your tasks:</h4>
	<ul><% @tasks.each do |task| %>
		<% if task.user_id == session[:user_id] %>
			<br>
				<li><a href="/tasks/<%= task.id %>"</a><%= task.name.capitalize %>
				</li>
				<form action="/tasks/<%= task.id %>/delete" method="post">
						<input type="hidden" id="hidden" name="_method" value="delete">

						<button type="button" class="btn btn-default" name="edit_content"><a href="/tasks/<%= task.id %>/edit">Edit</a></button>


						<input type="submit" class="btn btn-default" value="Delete">
					</form>
					</br>
					<% end %>
				<% end %>
	</ul>

